spacy==3.8.16
spacy-curated-transformers==0.3.0
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl#sha256=272a31e9d8530d1e075351d30a462d7e80e31da23574f1b274e200f3fff35bf5
stanza==1.15.0
torch==2.14.1
transformers==5.18.0
